#allrecords {
  height: 100%;
  padding: 20px;
  background-color: #333637;
  margin: 35px 35px;
}
.pagination {
  margin-right: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination {
  margin-bottom: 0;
  background-color: #484848;
}
#headline1 {
  display: flex;
  justify-content: space-between;
}
#headline2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#lengthpart {
  display: flex;
}
img {
  height: 40px;
  width: 60px;
}

#recordsh3 {
  color: rgb(236, 187, 10);
}
.length {
  border-radius: 5px;
  padding: 2px;
  background-color: goldenrod;
}
table tr:hover {
  background-color: rgb(66, 64, 64);
}

#heads th {
  background-color: rgb(16, 27, 58);
  color: white;
}

.btn {
  background-color: rgb(28, 40, 71);
  color: white;
}

.pagination-item {
  background-color: white;
  color: black;
  margin: 0 5px;
  border: none;
  outline: none;
  border-radius: 10px; 
}

.table-container {
  overflow-x: auto;
  margin-top: 10px;
}

@media (max-width: 520px) {
  .table-container {
    max-width: 350px;
  }
  #allrecords {
    margin: auto;
  }
}


#adminpagebtn:hover {
  background-color: white;
  border: solid 1px #0f2027;
}

.headerbar {
  display: flex;
  justify-content: space-around;
}
.headerbar select {
  height: 34px;
}
.headerbar input {
  height: 34px;
  border-radius: 5px;
  outline: none;
}
#datepicker {
  color: wheat;
}
#datefilter {
  width: 550px;
  display: flex;
}
.dates {
  display: flex;
}

.dropdown-contents {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-contents p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}
#adminlogout {
  border-radius: 200px;
  border: none;
  outline: none;
  color: rgb(35, 85, 116);
  background-color: rgb(186, 158, 17);
}

@media (max-width: 600px) {
  .headerbar {
    display: flex;
    flex-direction: column;
  }
  .headerbar select {
    width: 190px;
  }
  .dates {
    display: flex;
    flex-direction: column;
  }
  #datefilter {
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
