#adminlogin {
  width: 300px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.input-group {
  position: relative;
}

.input-group .form-control {
  padding-right: 40px;
}

.shows-password {
  position: absolute;
  right: 655px;
  top: 57.5%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: red;
}

.shows-password:focus {
  outline: none;
}

#credentials {
  margin-top: 20px;
}

#note {
  font-weight: bold;
  color: red;
}

.astrick {
  color: red;
}

@media (max-width: 1000px) {
  .shows-password {
    position: absolute;
    right: 47px;
    top: 53%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(255, 34, 0);
  }
}
#loginbtn {
  background-color: #333;
  width: 100%;
  text-transform: uppercase;
}
#loginbtn:hover {
  background-color: white;
  color: black;
  border: solid 1px #333;
}
.Toastify__toast-container {
  z-index: 9999;
}

.Toastify__toast {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.Toastify__toast--success {
  background-color: #4caf50;
}

.Toastify__toast--error {
  background-color: #f44336;
}

.Toastify__toast-body {
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(177, 76, 76);
}