 #allrecords {
  height: 100%;
  padding: 20px;
  background-color: #333637;
  margin: 35px 35px;
}
.pagination {
  margin-right: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination {
  margin-bottom: 0;
  background-color: #484848;
}
#headline {
  display: flex;
  justify-content: space-between;
}

#lengthpart {
  display: flex;
}
img {
  height: 40px;
  width: 60px;
}
/* #usericon {
  height: 25px;
  width: 25px;
  text-align: center;
  border: none;
  outline: none;
} */
/* #icon {
  padding: 0px;
  margin-top: -4px;
  color: rgb(236, 187, 10);
  font-size: 20px;
} */
#recordsh3 {
  color: rgb(236, 187, 10);
}
.length {
  border-radius: 5px;
  padding: 2px;
  background-color: goldenrod;
}
table tr:hover {
  background-color: rgb(66, 64, 64);
}

#heads th {
  background-color: rgb(16, 27, 58);
  color: white;
}

.btn {
  background-color: rgb(28, 40, 71);
  color: white;
}

#numbers {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.table-container {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .table-container {
    max-width: 350px;
  }
  #allrecords {
    margin: auto;
  }
}
#adminpagebtn:hover {
  background-color: white;
  border: solid 1px #0f2027;
}

.headerbar {
  display: flex;
}
.headerbar select {
  width: 150px;
  height: 34px;
}
.headerbar input {
  height: 35px;
  width: 170px;
  border-radius: 5px;
}

@media (max-width:1000px) 
{

  .headerbar select {
  width: auto;
  
}
.headerbar input {
 
  width: auto;
 
}
}
.dropdown-contents {
  position: absolute;
  top: 100%; 
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-contents p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}
#adminlogout
{
  border-radius: 200px;
  color: goldenrod;
  background-color: rgb(34, 47, 47);
}
 