
#allrecords
{
  height: 100%;
  padding: 20px;
  background-image:linear-gradient(#0F2027,#203a43,#2c5364);
  margin: 35px 35px;
}
.pagination
{
    margin-right: 10px;
}

.pagination-container {
    display: flex;
    justify-content:center;
    margin-top: 10px; 
   
    
  }
  
  .pagination {
    margin-bottom: 0;
    background-color: #484848;
  }
#headline
{
    display: flex;
    justify-content: space-between;

}
  
#lengthpart
{
    display: flex;
}
img
{
    height: 40px;
    width: 60px;
}
#usericon
{
    height: 25px;
    width: 25px;
   text-align: center;
   border: none;
   outline: none;
   
}
#icon
{
    padding: 0px;
    margin-top: -4px;
    color: rgb(236, 187, 10);
    font-size: 20px;
   
}
#recordsh3
{
  color: rgb(236, 187, 10);
}
.length
{
  
    border-radius: 5px;
    padding: 2px;
    background-color: goldenrod;
}
table tr:hover
{
    background-color:rgb(66, 64, 64);
}


#heads th
{
    background-color: rgb(16, 27, 58);
    color: white;
}

.btn
{
    background-color: rgb(28, 40, 71);
    color: white;
}

#dropdown-basic-button {
  display: flex;
  align-items: center;
}
#numbers
{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.table-container {
  overflow-x: auto;
}


@media (max-width: 768px) {
 
  .table-container {
    max-width: 350px;
  }
#allrecords
{
  margin: auto;
}
 
  
}
#adminpagebtn:hover
{
  background-color: white;
  border: solid 1px #0F2027;
}

.headerbar
{
  display: flex;
}
.headerbar select 
{
  width: 150px;
  height: 35px;
}
.headerbar input 
{
  height: 35px;
}