/* UserPage.css */

#containers {
  padding: 20px;
  background-color: rgb(47, 57, 57);
}

.userform {
  /* width: 100%; */
  max-width: 500px;
  margin: 0 auto;
}

.userpagegroup {
  margin-bottom: 15px;
  background-color: #2b4546;
  color: rgb(126, 128, 127);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select,
input[type="date"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #0d2837;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#forlogout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  background-color: #0d2837;
  color: white;
}

#para {
  font-size: 24px;
  font-weight: bold;
}

/* .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #e4e1e1;
  min-width: 160px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #ddd;
} */

.dropdown-contentss {
  position: absolute;
  top: 100%; /* Adjust top position as needed */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-contentss p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  color: black;
}


